# MedIntel Environment Configurations
FIREBASE_CREDENTIALS_PATH=secrets/firebase_service_account.json
FCM_SERVER_KEY=your_fcm_server_key_here
DUCKDB_PATH=database/medintel.duckdb
API_HOST=127.0.0.1
API_PORT=8000
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
KAFKA_TOPIC_VITALS=medintel-vitals
