# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
.env.txt

# Database WAL and DB files
*.duckdb
*.duckdb.wal
*.duckdb.tmp
database/*.duckdb

# Data & Models
data/
human_vital_signs_dataset_2024.csv
ml_models/

# Secrets
secrets/*.json
!secrets/firebase_service_account.json.example

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db